body {
    background-color: #222;
    background-image: 
      linear-gradient(to bottom, #5c5b5b, #111),
      url('noise.png'),
      radial-gradient(circle at center, transparent 0%, #fff 100%);
    background-blend-mode: multiply, screen, overlay;
    background-attachment: fixed;
  }

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #f0f0f0;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
.sidebar.active {
    transform: translateX(0);
  }
  
.toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px; 
}  